<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${gdc:item=logDirectory}\internal-nlog.txt">

  <!-- Define variables - Use GlobalDiagnosticsContext variable set in Program.cs -->
  <variable name="logDirectory" value="${gdc:item=logDirectory}"/>
  
  <!-- Define targets -->
  <targets>
    <!-- Console target -->
    <target xsi:type="Console" 
            name="console"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}" />
    
    <!-- File target with daily rotation - log file name will be the current date (YYYY-MM-DD.log) -->
    <target xsi:type="File" 
            name="dailyFile"
            fileName="${logDirectory}\${date:format=yyyy-MM-dd}.log"
            archiveFileName="${logDirectory}\archive\${date:format=yyyy-MM-dd}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}"
            keepFileOpen="true"
            concurrentWrites="false"
            encoding="utf-8"
            createDirs="true" />
  </targets>

  <!-- Define rules -->
  <rules>
    <!-- Write Info level and above to console -->
    <logger name="*" minlevel="Info" writeTo="console" />
    
    <!-- Write Info level and above to daily file -->
    <logger name="*" minlevel="Info" writeTo="dailyFile" />
  </rules>
</nlog>